* {
   font-family: 'Unbounded', cursive;
   box-sizing: border-box;
}


header{
   display: flex;
   height: 15vh;
   background: rgb(61, 209, 106);
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

header img{
   height: 30%;
}

header p{
   font-size: 25px;
}

p:nth-child(3){
   font-size: 15px;
   text-align: center;
}

main{
   background: rgb(209, 255, 223);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 81vh;
}

main *{
   margin: 0.3% 0;
}

p {
   font-size: 25px;
}

.list_items{
   display: none;
}

.phone_input{
   display: flex;
}

.phone_input input{
   margin: 0 0.8%;
   border-radius: 10px;
   border: 1px solid black;
}

.dropdown_input{
   width: 60px;
}

.dropdown_input:focus .list_items{
   display: inline;
}

.phone_number{ 
   width: 350px;
}

button{
   cursor: pointer;
}

button + p{
   font-size: 10px;
}

footer {
   background: rgb(61, 209, 106);
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 4vh;
   box-sizing: border-box;
}

footer * {
   margin: 0.2vw;
   font-size: 15px;
}